<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--новый ноут-->
    <!--<add name="DbConnectionString" connectionString="Data Source=LAPTOP-LGDJ4OVD\SQLEXPRESS;Initial Catalog=PAF;Integrated Security=True" providerName="System.Data.SQLClient" />
    -->
    <!--старый ноут-->
    <!--<add name="DbConnectionString" connectionString="Data Source=VALUN;Initial Catalog=PAF;Integrated Security=True" providerName="System.Data.SQLClient" />
    -->
    <!--рабочий комп-->
    <add name="DbConnectionString" connectionString="Data Source=C-PROG4;Initial Catalog=PAFnonbase122222;Integrated Security=True" providerName="System.Data.SQLClient" />

  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>